{% extends 'layouts/base.html' %} {% block title %} Incident{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Incident</h5>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label
                  >Person(s) Displaying Concerning Behavior(Name, Age, Residence
                  Address)?</label
                >
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="persons"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label>Description of the concern?</label>
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="description"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label
                  >When and where is the incident/action going to occur?</label
                >
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="when"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label>Is anyone else aware of the concern?</label>
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="anyoneElse"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>If yes who?</label>
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="yesNo"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Additional Information?</label>
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="additional"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Would you like to speak to a investigator?</label>
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="investigator"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label
                  >If yes, please provide your name and/or phone number?</label
                >
                <textarea
                  rows="4"
                  cols="80"
                  class="form-control"
                  id="phone"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <a href="/"
          ><button type="submit" class="btn btn-fill btn-primary" id="submit">
            Submit
          </button></a
        >
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% csrf_token %}
<script src="static/assets/js/core/freshDesk/postFreshdesk.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock javascripts %}
