{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h5 class="card-category">Incidents</h5>
            <h2 class="card-title">Analytics</h2>
          </div>
          <div class="col-sm-6">
            <div
              class="btn-group btn-group-toggle float-right"
              data-toggle="buttons"
            >
              <label class="btn btn-sm btn-primary btn-simple active" id="0">
                <input type="radio" name="options" checked />
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >All Incidents</span
                >
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-single-02"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-primary btn-simple" id="1">
                <input type="radio" class="d-none d-sm-none" name="options" />
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >Reported Incidents</span
                >
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-gift-2"></i>
                </span>
              </label>
              <label class="btn btn-sm btn-primary btn-simple" id="2">
                <input type="radio" class="d-none" name="options" />
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >Special Events</span
                >
                <span class="d-block d-sm-none">
                  <i class="tim-icons icon-tap-02"></i>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartBig1"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Districts {{ user.images }} hi</h5>
        <h3 class="card-title">
          <i class="tim-icons icon-molecule-40 text-primary"></i>
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartLinePurple"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Incidents by Date</h5>
        <h3 class="card-title">
          <i class="tim-icons icon-delivery-fast text-info"></i>
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="CountryChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Type of events by district</h5>
        <h3 class="card-title">
          <i class="tim-icons icon-send text-success"></i>
        </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartLineGreen"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card card-tasks">
      <div class="card-header"><u>Active Incidents</u></div>

      <div class="card-body">
        <div class="table-full-width table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>ID</th>
                <th>Analyst</th>
                <th>Reported To</th>
                <th>Summary</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody class="closed"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="static/assets/js/core/freshDesk/getOpenTickets.js"></script>

{% endblock javascripts %}
